/* Product list */
#edd-compare-url {
    display: none;
    visibility: hidden;
}
.edd-compare-button {
    margin-top: 5px;
}
/* Comparison page */
.edd-compare-products table {
    table-layout: auto;
}
.edd-compare-products td:first-child, .edd-compare-products th:first-child {
    background-color: #f7f7f7;
}
/* Table style options */
.edd-compare-h-scroll {
    overflow-x: auto;
}
/* Make added to cart message inline */
.edd-compare-products .edd-cart-added-alert, .edd_downloads_list .edd-cart-added-alert {
    position: relative;
}